table#Grundwerte {
  width: 90%;
}
th {
  text-align: left;
}
th.Talentwert, th.Abenteuerpunkte {
  text-align: center;
}
td.Behinderung, td.Steigerungsfaktor, td.Abenteuerpunkte {
  text-align: center;
}
input[type=number] {
  width: 2.6em;
}
